.App {
  padding: 16px;
  margin: 30px auto 10px;
  border: 1px solid rgb(60, 59, 59);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}
footer {
  font-size: 11px;
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
